.restaurant-page-container, .categories-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.restaurant-page-container name {
    display: flex;
    justify-content: center;
}
.restaurant-name{
    font-family: cursive;
}

/* restaurant-categories css */
.categories-container{
    margin: 16px 0px 16px 0px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.categories-header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   font-size: 20px;
   font-weight: 700;
   cursor: pointer;
}
.item-container{
    padding: 20px 0px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.item-details-container{
    width: 70%;
}
.item-image-container{
    width: 20%;
    position: relative;
}
.item-image-container img{
    width: 100%;
}
.namePrice{
    color: #3e4152;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.item-description{
   color: rgba(40,44,63,.45);
   letter-spacing : -.3px;
   font-family:  Arial, Helvetica, sans-serif
}
.item-add-btn{
    position: absolute;
    left: 65px;
    bottom: 6px;
    border-radius: 10%;
    background-color: white;
    border: none;
    outline: none;
    padding: 5px 20px;
    font-size: 18px;
    color: limegreen
}
.item-add-btn:hover{
    background-color: rgb(255, 255, 255, .9);
    scale: 1.1;
}
.item-add-btn:active{
    transform: translateY(2px);
}
